body > a{
    background-image: url("https://www.computerhope.com/jargon/h/html.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80px;

    padding-left: 100px;
}