article{
    margin: 10px;
    font-size: 1.25em;
    border: black solid 1px;
    height : 275px;
}

 article:nth-of-type(even) img{
     float: right;
 }

article:nth-of-type(odd) img{
    float: left;
}

h2{
    margin: 20px;
}

p{
    margin: 20px;
}

body{
    background-color : lightgrey;
}

